@page "/artistView2"
@inject ISnackbar Snackbar

@* <div class="background">
        <img class="background__image" src="/Images/art2.jpg" height="300px" width="100%" />
    </div> *@


<div class="container">


    <MudText Typo="Typo.h1" Class="mb-5">Artist</MudText>


    <div class="block">
        <MudItem xs="12" sm="6">
            <img class="profile" src="/Images/peter.jpg" />
            <InputFile id="fileInput112" OnChange="UploadFiles" hidden multiple accept=".jpg, .jpeg, .png" />
            <MudButton HtmlTag="label"
                       Variant="Variant.Text"
                       Color="Color.Primary"
                       StartIcon="@Icons.Filled.Edit"
                       for="fileInput112">
                Edit Picture
            </MudButton>



        </MudItem>
    </div>
    <div class="header">
        <div class="text">
            <MudItem xs="12" sm="6">
                <MudText Class="mb-7" Typo="Typo.h2">Peter Lustig</MudText>
            </MudItem>

            <MudItem xs="12" sm="10">
                <MudText Typo="Typo.overline">About the Artist</MudText>
                <MudText Class="ml-20" Typo="Typo.body1" Text="@sampleText">
                    For over a decade Aivazovsky has been one of the biggest stars in abstract art.
                    his way of combining different elements is unique and he received many prices for his works ...                    his way of combining different elements is unique and he received many prices for his works ...
                    his way of combining different elements is unique and he received many prices for his works ...

                </MudText>
            </MudItem>
            <MudItem xs="12" sm="12" md="12" Class="mt-5">
                <MudTextField @ref="multilineReference" T="string" Label="Edit Description" Lines="3" Variant="Variant.Text" Text="@sampleText" />
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-end">
                <MudButton @onclick="() => multilineReference.SelectAsync()">
                    Edit
                </MudButton>
            </MudItem>


            <MudItem Class="mt-10">
                <MudText Typo="Typo.h5">Rating: <MudRating SelectedValue="2" ReadOnly="true" Size="Size.Large" Class="ml-10" /></MudText>

            </MudItem>




        </div>
        <MudText Typo="Typo.h5" Class="mb-5 mt-5"> Delete Art</MudText>

        <MudGrid Class="mt-5">
            <MudItem xs="12">
                <MudGrid Spacing="@spacing" Justify="Justify.Center">
                    <MudItem>
                        <MudCard Elevation="4" Square="true">
                            <MudCardHeader>
                                <CardHeaderAvatar>
                                    <MudAvatar Color="Color.Secondary">A</MudAvatar>
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.body1">Artist Name</MudText>
                                    <MudText Typo="Typo.body2">00:10:15:13</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardMedia Image="/Images/art2.jpg" Height="200" Width="300" />
                            <MudCardContent>
                                <MudText Typo="Typo.h5">Old Paint</MudText>
                                <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                                <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                                <MudButton Variant="Variant.Text" Color="Color.Warning">Delete</MudButton>
                                <MudPaper Class="pa-2 mr-2 mb-1 ml-auto mud-theme-secondary" Square="true">1100€</MudPaper>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                    <MudItem>
                        <MudCard Elevation="4" Square="true">
                            <MudCardHeader>
                                <CardHeaderAvatar>
                                    <MudAvatar Color="Color.Secondary">A</MudAvatar>
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.body1">Artist Name</MudText>
                                    <MudText Typo="Typo.body2">00:10:15:13</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardMedia Image="/Images/art.jpg" Height="200" Width="300" />
                            <MudCardContent>
                                <MudText Typo="Typo.h5">Old Paint</MudText>
                                <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                                <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                                <MudButton Variant="Variant.Text" Color="Color.Warning">Delete</MudButton>
                                <MudPaper Class="pa-2 mr-2 mb-1 ml-auto mud-theme-secondary" Square="true">8000€</MudPaper>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>





                </MudGrid>
            </MudItem>

        </MudGrid>
        <MudDivider DividerType="DividerType.Middle" Class="my-10" />

        <MudText Typo="Typo.overline">Bankdata:</MudText>

        <MudText Align="Align.Left"><b>Name:</b> Peter Lustig</MudText>
        <MudText Align="Align.Left"><b>IBAN:</b> BE23 1093 1234 1234.</MudText>
        <MudText Align="Align.Left"><b>BIC:</b> GIBAATWX.</MudText>
      

        <MudItem xs="12" md="6">
            <MudTextField T="string" Counter="25" HelperText="Enter New Name" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))" Label="Name" Variant="Variant.Text" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField T="string" Counter="34" HelperText="Enter New IBAN" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharactersIban))" Label="IBAN" Variant="Variant.Text" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField T="string" Counter="8" HelperText="Enter New BIC" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharactersBic))" Label="BIC" Variant="Variant.Text" />
        </MudItem>
        <MudButton>
            Edit
        </MudButton>



        <MudDivider DividerType="DividerType.Middle" Class="my-10" />
        <MudItem Class="mt-10">
            <MudText Typo="Typo.h4" Class="mb-5"> Recent Works:</MudText>

        </MudItem>

        <MudGrid Class="mx-auto mb-10">
            <MudItem>
                <div class="work">
                    <img src="/Images/box.jpg" alt="Avatar" class="image">
                </div>
            </MudItem>
            <MudItem>
                <div class="work">
                    <img src="/Images/box2.jpg" alt="Avatar" class="image">
                </div>
            </MudItem>
            <MudItem>
                <div class="work">
                    <img src="/Images/box3.jpg" alt="Avatar" class="image">
                </div>
            </MudItem>
            <MudItem>
                <div class="work">
                    <img src="/Images/box3.jpg" alt="Avatar" class="image">
                </div>
            </MudItem>
        </MudGrid>
    </div>




</div>



@code {
    private MudTextField<string>
    multilineReference;
    public int spacing { get; set; } = 5;

    void AddSpacing()
    {
    if (spacing >= 10)
    {
    spacing = 0;
    }
    else
    {
    spacing += 1;
    }
    StateHasChanged();
    }

    private IEnumerable<string> MaxCharacters(string ch)
    {
    if (!string.IsNullOrEmpty(ch) && 25 < ch?.Length)
    yield return "Max 25 characters";
    }

    private IEnumerable<string> MaxCharactersIban(string ch)
    {
    if (!string.IsNullOrEmpty(ch) && 34 < ch?.Length)
    yield return "Max 34 characters";
    }

    private IEnumerable<string> MaxCharactersBic(string ch)
        {
        if (!string.IsNullOrEmpty(ch) && 8 < ch?.Length)
        yield return "Max 8 characters";
        }


        string sampleText = "For over a decade Aivazovsky has been one of the biggest stars in abstract art. his way of combining different elements is unique and he received many prices for his works ...                    his way of combining different elements is unique and he received many prices for his works ...  his way of combining different elements is unique and he received many prices for his works ...";


        private void UploadFiles(InputFileChangeEventArgs e)
        {
        var entries = e.GetMultipleFiles();
        //Do your validations here
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar.Add($"Files with {entries.FirstOrDefault().Size} bytes size are not allowed", Severity.Error);
        Snackbar.Add($"Files starting with letter {entries.FirstOrDefault().Name.Substring(0, 1)} are not recommended", Severity.Warning);
        Snackbar.Add($"This file has the extension {entries.FirstOrDefault().Name.Split(".").Last()}", Severity.Info);

        //TODO upload the files to the server
        }

        }
