@page "/detailView"


<div class="carousel">
    <div class="frame">

        <MudCarousel class="mx-auto" Elevation="2" Style="height:600px;" ShowArrows="@arrows" ShowDelimiters="@delimiters" AutoCycle="@autocycle" TData="object">
            <MudCarouselItem Transition="transition" Style="@($"background:{Colors.Cyan.Lighten1};")">
                <div class="d-flex" style="height:100%">
                    <img class="img1" src="/Images/art5.jpg">
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="@($"background:{Colors.Teal.Lighten3};")">
                <div class="d-flex" style="height:100%">
                    <img class="img1" src="/Images/art.jpg">
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="@($"background:{Colors.Cyan.Accent1};")">
                <div class="d-flex" style="height:100%">
                    <img src="/Images/art3.jpg">
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </div>
    <MudText Typo="Typo.button">Ivan Aizovsky</MudText><br />
    <MudText Typo="Typo.overline">33 x 43 cm.</MudText>
</div>




<div class="Desc">
    <MudGrid Class="ml-25">
        <MudItem>
            <MudText Typo="Typo.h2">"The Winter"</MudText>
        </MudItem><br />
        <MudItem>
            <MudText>
                Aivazovsky depicts the winter nature. This is a real fairy tale. In the center of the picture – the road. It is still almost uncovered with snow. It can be assumed that this is an early winter.
                On the sides of the road are trees.
                They have already managed to dress up in winter coats.
                Snow lies on each branch and creates the impression of a certain miracle.The artist uses shades of white, gray, blue, pinkish and even black in his picture. As a result,
                he manages to convey the special charm of nature and the ringing silence.
            </MudText>
        </MudItem>

    </MudGrid>
    
    <div class="tags">
        <div class="spacing">
            <MudText Typo="Typo.button">Tags:</MudText><br />
                                                       <MudItem Class="mt-5">
                                                           <MudChip>"Winter"</MudChip>
                                                           <MudChip>"Oil"</MudChip>
                                                           <MudChip >"Fine Arts"</MudChip>

                                                           <MudChip >"Classic"</MudChip>
                                                       </MudItem>
        </div>
    </div>

    <div class="tags">

        <MudText Align="Align.Left"><b>Price:</b> 860.00€</MudText> 
        <MudButton Class="mt-5" Variant="Variant.Filled" >Buy Art</MudButton>


    </div>
</div>




<div class="footer">
    <p>&copy ArtSquare - 2021</p>
</div>

@code {
    private bool arrows = true;
    private bool delimiters = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    private bool visible;
    private int rating;
    private void OpenDialog() => visible = true;
    void Submit() => visible = false;

    private DialogOptions dialogOptions = new() { FullWidth = true };
}
