@page "/product/{id:int}"
@inject IProductService ProductService

 
<div class="carousel">
    <div class="frame">

        <MudCarousel class="mx-auto" Elevation="2" Style="height:600px;" ShowArrows="@arrows" ShowDelimiters="@delimiters" AutoCycle="@autocycle" TData="object">
            <MudCarouselItem Transition="transition" Style="@($"background:{Colors.Cyan.Lighten1};")">
                <div class="d-flex" style="height:100%">
                    <img class="img1" src="/Images/art5.jpg">
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="@($"background:{Colors.Teal.Lighten3};")">
                <div class="d-flex" style="height:100%">
                    <img class="img1" src="/Images/art.jpg">
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="@($"background:{Colors.Cyan.Accent1};")">
                <div class="d-flex" style="height:100%">
                    <img src="/Images/art3.jpg">
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </div>
    <MudText Typo="Typo.button">Ivan Aizovsky</MudText><br />
    <MudText Typo="Typo.overline">@product.Width x @product.Height cm.</MudText>
</div>




<div class="Desc">
    <MudGrid Class="ml-25">
        <MudItem xs="12">
            <MudText Typo="Typo.h2">"@product.Name"</MudText>
        </MudItem>
        <br />
        <MudItem>
            <br/>
            <MudText>
                @product.Desciption
            </MudText>
        </MudItem>

    </MudGrid>

    <div class="tags">
        <div class="spacing">
            <MudText Typo="Typo.button">Tags:</MudText><br />
            <MudItem Class="mt-5">
                <MudChip>"Winter"</MudChip>
                <MudChip>"Oil"</MudChip>
                <MudChip>"Fine Arts"</MudChip>

                <MudChip>"Classic"</MudChip>
            </MudItem>
        </div>
    </div>
    

    <div class="tags">

        <MudText Align="Align.Left"><b>Price:</b> @product.Price  €</MudText>
        <MudButton Class="mt-5" Variant="Variant.Filled">Buy Art</MudButton>


    </div>
</div>




<div class="footer">
    <p>&copy ArtSquare - 2021</p>
</div>

@code {
    private bool arrows = true;
    private bool delimiters = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    private bool visible;
    private int rating;
    private void OpenDialog() => visible = true;
    void Submit() => visible = false;

    private DialogOptions dialogOptions = new() { FullWidth = true };

    private Product product = new Product();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await ProductService.GetProduct(Id);
    }
}
