@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Identity;

@inject HttpClient Http
@inject IProductService ProductService
@inject NavigationManager NavManager
@inject IUserService UserService
@inject PublicClient PublicClient

@page "/trends"
@* <div class="background">
        <img class="background__image" src="/Images/art2.jpg" height="300px" width="100%" />
    </div> *@
<div class="foreground">
    <div class="foreground__content">
        <form action="" method="get" class="form">
            <div class="product-search">
                <div class="search-element">
                    <label class="search-label">Title</label>
                    <input class="search-input" type="text" autocomplete="on" placeholder="Enter Title" name="location">
                </div>
                <div class="search-element">
                    <label class="search-label">Artist</label>
                    <input class="search-input" type="text" placeholder="Enter Artist" autocomplete="on" name="location">
                </div>
                <div class="search-element">
                    <label class="search-label">Type</label>
                    <input class="search-input" type="text" placeholder="Enter Type" autocomplete="on" name="location">
                </div>
                <div class="search-element">
                    <label class="search-label">Price</label>
                    <input class="search-input" type="text" placeholder="Enter Price" autocomplete="on" name="location">
                </div>
                <div class="search-element2">
                    <MudSelect T="string" Label="Look for Tags">
                        @foreach (var tags in PublicClient.Tags)
                        {
                        <MudSelectItem Value="@(@tags.Name)" />
                    
                        }   
                    </MudSelect>
                </div>

                <MudIcon Class="mr-5" Icon="@Icons.Material.Filled.Search" Title="Search" Size="Size.Large" Color="Color.Secondary" />


            </div>
        </form>
    </div>
</div>


<MudDivider DividerType="DividerType.Middle" Class="my-10" />

<div class="h1">

    <MudText Typo="Typo.h1">Welcome to the Trends</MudText>
    <div class="para">
        <MudText Typo="Typo.body1">
            Here you can see the Art that is in trending right now ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br>
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
            Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
            Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
        </MudText>
    </div>
</div>


<div class="h1">
    <MudText Typo="Typo.h2"> Trending art:</MudText>

</div>

<MudGrid Class="mt-5">
    <MudItem xs="12">

        <MudGrid Spacing="@spacing" Justify="Justify.Center">
            @foreach (var product in PublicClient.Products)
            {
                <MudItem>

                    <MudCard Elevation="4" Width="375px" Height="450px" Square="true" Class="mr-5">

                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudAvatar Color="Color.Secondary">A</MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">Artist Name</MudText>
                                <!-- <MudText Typo="Typo.body2">20/4/1969</MudText> -->
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardMedia Image=@product.ImgPath Height="200" Width="300" />
                        <MudCardContent>
                            <MudText Typo="Typo.h5">@product.Name</MudText>
                            <MudText Typo="Typo.body2">@product.Desciption</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => RedirectDetailView(product.Id)">Learn More</MudButton>
                            <MudText Class="pa-2 mr-2 mb-1 ml-auto">Buy for:</MudText>
                            <MudPaper Class="pa-2 mr-2 mb-1 ml-auto mud-theme-secondary" Square="true">@product.Price€</MudPaper>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }



        </MudGrid>
    </MudItem>

</MudGrid>





<MudDivider DividerType="DividerType.Middle" Class="my-10" />

<div class="footer">
    <p>&copy ArtSquare - 2021</p>
</div>

@code {
    public int spacing { get; set; } = 5;
    protected override async Task OnInitializedAsync()
    {
        await PublicClient.LoadProducts();
        await PublicClient.LoadTags();
    }


    void CreateUser(Dictionary<string, string> user)
    {

        
    }

    void AddSpacing()
    {
        if (spacing >= 10)
        {
            spacing = 0;
        }
        else
        {
            spacing += 1;
        }
        StateHasChanged();
    }

    void RedirectDetailView(int id)
    {
        NavManager.NavigateTo("/product/" + id);
    }
}
