@page "/open"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Identity;

@inject HttpClient Http
@inject IProductService ProductService
@inject NavigationManager NavManager
@inject IUserService UserService
@inject PublicClient PublicClient


<div class="parallax-container">
    <div class="background">
    </div>
    <div class="foreground">
        <div class="foreground__content">
            <form action="" method="get" class="form">
                <div class="product-search">

                    <div class="search-element2">

                        <MudText Class="">Search:</MudText>

                    </div>

                    <div class="search-element2">
                        <MudTextField Class="mb-5" FullWidth="true" @bind-Value="TextValue" Label="Title.." Variant="Variant.Text"></MudTextField>

                    </div>
                    <MudDivider Vertical="true" FlexItem="true" />

                    <div class="search-element2">
                        <MudSelect Class="mb-5" T="string" Label="Tags..">
                            @foreach (var tags in PublicClient.Tags)
                            {
                                <MudSelectItem Value="@(@tags.Name)" />}
                        </MudSelect>
                    </div>
                    <MudDivider Vertical="true" FlexItem="true" />

                    <MudIcon Class="mr-5 ml-5 " Icon="@Icons.Material.Filled.Search" Title="Search" Size="Size.Large" Color="Color.Secondary" />
                </div>
            </form>
        </div>
    </div>
</div>

<MudText Typo="Typo.h1" Align="Align.Center">Welcome to the Auction</MudText>
<div class="h1">

    <div class="para">
        <MudText Typo="Typo.body1">
            Here you can discover new beautiful Art, look trough our diverse Art-Auction and if you find an Artpiece you love, consider buying it or bidding on it.
            Be aware of the enddate of the auction. If you successfully won the auction, the artpiece will appear in your profile!<br /><br />
            <i>“There are two distinct languages. There is the verbal, which separates people… and there is the visual that is understood by everybody.”</i>
            <br><i>-Yaacov Agam</i>
        </MudText>
    </div>
</div>


<div class="h1">
    <MudText Typo="Typo.h2">New Entries:</MudText>

</div>

<MudGrid Class="mt-5">
    <MudItem xs="12">
        <MudGrid Spacing="@spacing" Justify="Justify.Center">
            @foreach (var product in PublicClient.Products)
            {
                if (product.IsAuction == true)
                {
                    <MudItem>
                        <MudCard Elevation="4" Width="375px" Height="450px" Square="true">
                            <MudCardHeader>
                                <CardHeaderAvatar>
                                    <MudAvatar Color="Color.Secondary">A</MudAvatar>
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                    <MudButton @onclick="() => RedirectDetailViewArtist(product.Id)" Typo="Typo.body1">@product.Artist.Firstname @product.Artist.Lastname</MudButton>
                                    @foreach (var auction in PublicClient.Auctions)
                                    {
                                        if (auction.ProductId == product.Id)
                                        {
                                            <MudText Typo="Typo.body2">@auction.Deadline.ToString("dd/MM/yyyy") @auction.Deadline.Hour:@auction.Deadline.Minute</MudText>
                                        }
                                    }

                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardMedia Image=@product.ImgPath Height="200" Width="300" />
                            <MudCardContent>
                                <MudText Typo="Typo.h5">@product.Name</MudText>
                                <MudText Typo="Typo.body2">@product.Desciption</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="() => RedirectDetailView(product.Id)">Learn More</MudButton>
                                <MudPaper Class="pa-2 mr-2 mb-1 ml-auto mud-theme-secondary" Square="true">@product.Price€</MudPaper>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                }
            }


            <MudItem>
                @*<MudPagination BoundaryCount="1" MiddleCount="3" Count="9" @bind -Selected="@_selected" Class="mt-5" Color="Color.Secondary" />*@
            </MudItem>
        </MudGrid>
    </MudItem>

</MudGrid>




<MudDivider DividerType="DividerType.Middle" Class="my-10" />

<div class="footer">
    <p>&copy ArtSquare - 2021</p>
</div>

@code {
    public string TextValue { get; set; }
    public int spacing { get; set; } = 5;
    private int _selected = 11;
    protected override async Task OnInitializedAsync()
    {
        await PublicClient.LoadProducts();
        await PublicClient.LoadTags();
        await PublicClient.LoadAuctions();
    }

    void AddSpacing()
    {
    if (spacing >= 10)
    {
    spacing = 0;
    }
    else
    {
    spacing += 1;
    }
    StateHasChanged();
    }
    void RedirectDetailViewArtist(int id)
    {
        NavManager.NavigateTo("/artistView/"+id);
    }
    void RedirectDetailView(int id)
    {
        NavManager.NavigateTo("/auction/" + id);
    }
    }
